*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background-color: snow;
  color: #222;
}

.container {
  padding: calc(1em + 2vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.departement {
  grid-column: 1 / 3;
  border-bottom: 2px solid #111;
  line-height: 1.3;
}

.numero {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #555;
  width: 2.25em;
  height: 2.25em;
  font-size: 1.25rem;
  background-color: #fff5;
}

.map {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  display: block;
  margin-top: 1em;
  border: 1px solid #222;
  justify-self: center;
  max-width: 100%;
}

.region {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  margin: .5em 0 1em;
}

.villes {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  gap: 3px;
}

.ville {
  border: 1px solid #222;
  padding: .25em .75em;
  background-color: #fff5;
}

.chef_lieu {
  background-color: #222;
  color: snow;
}

.gallery {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  display: flex;
  gap: 1em;
  height: calc(150px + 8vw);
  padding: 1em 0;
  overflow-x: scroll;
}

.gallery figure {
  position: relative;
}

.gallery figcaption {
  opacity: 0;
  position: absolute;
  font-size: .9rem;
  line-height: 1.1;
  left: 1px;
  top: 1px;
  right: 1px;
  padding: .5em .75em;
  background-color: #fffd;
  transition: all .3s;
}

.bigger-image {
  text-decoration: none;
  color: #222;
}

.gallery figure:hover figcaption {
  opacity: 1;
}

.gallery img {
  max-height: 100%;
  border: 1px solid #222;
}

.deptlink {
  display: block;
  padding: .25em .5em;
  border: 1px solid #2225;
}

#backHome {
  display: block;
  width: max-content;
  margin: 2em auto;
  padding: .5em 1em;
  text-align: center;
  color: #333;
}

/* Index */
.index {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  grid-column: 1 / -1;
}

.index div {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.index a {
  padding: .5em .75em;
  color: #333;
  text-decoration: none;
  border-bottom-width: 3px;
}

.index hr {
  width: 100%;
  border-color: #2223;
}
