---
pagination:
    data: departements
    size: 1
    alias: dept
layout: template.njk
permalink: "departements/{{ dept.numero }}/"
titre: "{{ dept.departement }}"
---

<h1 class="departement">{{ dept.departement }}</h1>
      <p class="numero">{{ dept.numero }}</p>
      <p class="region">{{ dept.region }}</p>
      <div class="villes">
        <p class="ville chef_lieu">{{ dept.chef_lieu }}</p>
        {% for ville in dept.villes %}
          <p class="ville">{{ ville }}</p>
        {% endfor %}
      </div>
      <div class="gallery">
            {% for image in dept.images %}
                <figure>
                <img src="/_data/gallery/mini/{{ dept.numero }}-{{ image.number }}.jpg" alt="">
                <a class="bigger-image" href="/_data/gallery/{{ dept.numero }}-{{ image.number }}.jpg" target="_blank" rel="noopener noreferrer"><figcaption>{{ image.caption }}</figcaption></a>
            </figure>
            {% endfor %}
      </div>
      <img src="/_data/maps/{{ dept.numero }}.svg" alt="" class="map">

      <a class="gtrDept btn" href="/departements/01" id="goToRandom">Random</a>
      <button id="showEverything" class="btn">Montrer</button>

  <script>
    const goToRandom = document.getElementById('goToRandom');
    const deptNumbers = [
      "01",
      "02",
      "03",
      "04",
      "05",
      "06",
      "07",
      "08",
      "09",
      10,
      11,
      12,
      13,
      14,
      15,
      16,
      17,
      18,
      19,
      21,
      22,
      23,
      24,
      25,
      26,
      27,
      28,
      29,
      "2A",
      "2B",
      30,
      31,
      32,
      33,
      34,
      35,
      36,
      37,
      38,
      39,
      40,
      41,
      42,
      43,
      44,
      45,
      46,
      47,
      48,
      49,
      50,
      51,
      52,
      53,
      54,
      55,
      56,
      57,
      58,
      59,
      60,
      61,
      62,
      63,
      64,
      65,
      66,
      67,
      68,
      69,
      70,
      71,
      72,
      73,
      74,
      75,
      76,
      77,
      78,
      79,
      80,
      81,
      82,
      83,
      84,
      85,
      86,
      87,
      88,
      89,
      90,
      91,
      92,
      93,
      94,
      95,
      971,
      972,
      973,
      974,
      976
    ];

    function getRandom(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    goToRandom.addEventListener('click', e => {
      e.preventDefault();
      location = `/departements/${deptNumbers[getRandom(0, deptNumbers.length - 1)]}`;
    })


    console.log(localStorage.getItem('showMap'));

    const elementName = document.querySelector('.departement');
    const elementNumber = document.querySelector('.numero');
    const elementGallery = document.querySelector('.gallery');
    const elementMap = document.querySelector('.map');


    if (localStorage.getItem('showName') === "false") {
      elementName.classList.add('hidden');
    }
    if (localStorage.getItem('showNumber') === "false") {
      elementNumber.classList.add('hidden');
    }
    if (localStorage.getItem('showGallery') === "false") {
      elementGallery.classList.add('hidden');
    }
    if (localStorage.getItem('showMap') === "false") {
      elementMap.classList.add('hidden');
    }

    const showEverything = document.getElementById('showEverything');

    showEverything.addEventListener('click', e => {
      const hidden = document.querySelectorAll('.hidden');
      hidden.forEach(el => {
        el.classList.remove('hidden');
      })
    })


  </script>