---
pagination:
    data: departements
    size: 1
    alias: dept
layout: template.njk
permalink: "departements/{{ dept.numero }}/"
titre: "{{ dept.departement }}"
---

<h1 class="departement">{{ dept.departement }}</h1>
      <p class="numero">{{ dept.numero }}</p>
      <p class="region">{{ dept.region }}</p>
      <div class="villes">
        <p class="ville chef_lieu">{{ dept.chef_lieu }}</p>
        {% for ville in dept.villes %}
          <p class="ville">{{ ville }}</p>
        {% endfor %}
      </div>
      <div class="gallery">
            {% for image in dept.images %}
                <figure>
                <img src="/_data/gallery/mini/{{ dept.numero }}-{{ image.number }}.jpg" alt="">
                <a class="bigger-image" href="/_data/gallery/{{ dept.numero }}-{{ image.number }}.jpg" target="_blank" rel="noopener noreferrer"><figcaption>{{ image.caption }}</figcaption></a>
            </figure>
            {% endfor %}
      </div>
      <img src="/_data/maps/{{ dept.numero }}.svg" alt="" class="map">