---
layout: template.njk
title: Index des Départements
---

<div class="index">
  <div class="index-departements">
  {% for dept in departements %}
  <a class="deptlink" href="/departements/{{ dept.numero }}/">{{ dept.departement }}</a>
{% endfor %}
</div>

<hr>

<div class="index-numeros">
  {% for dept in departements %}
  <a class="deptlink" href="/departements/{{ dept.numero }}/">{{ dept.numero }}</a>
{% endfor %}
</div>
</div>