---
layout : template.njk
title : Index des Départements
---

<a href="/departements/01" id="goToRandom" class="btn">Random</a>

<div class="index">
  <div class="index-departements">
    {% for dept in departements %}
    <a class="deptlink" href="/departements/{{ dept.numero }}/">
      {{ dept.departement }}</a>
    {% endfor %} </div>
  <hr>
    <div class="index-numeros">
      {% for dept in departements %}
      <a class="deptlink" href="/departements/{{ dept.numero }}/">
        {{ dept.numero }}</a>
      {% endfor %} </div>

      <hr>

      <form id="settingsForm">
        <div class="settings">
          <label>Numéro
          <input type="checkbox" name="showNumber" checked>
        </label>
        <label>Nom
          <input type="checkbox" name="showName" checked>
        </label>
        <label>Galerie
          <input type="checkbox" name="showGallery" checked>
        </label>
        <label>Carte
          <input type="checkbox" name="showMap" checked>
        </label>
        </div>

        <input type="submit" class="btn" value="Sauvegarder">
      </form>
  </div>

  <script>
    const goToRandom = document.getElementById('goToRandom');
    const deptNumbers = [
      "01",
      "02",
      "03",
      "04",
      "05",
      "06",
      "07",
      "08",
      "09",
      10,
      11,
      12,
      13,
      14,
      15,
      16,
      17,
      18,
      19,
      21,
      22,
      23,
      24,
      25,
      26,
      27,
      28,
      29,
      "2A",
      "2B",
      30,
      31,
      32,
      33,
      34,
      35,
      36,
      37,
      38,
      39,
      40,
      41,
      42,
      43,
      44,
      45,
      46,
      47,
      48,
      49,
      50,
      51,
      52,
      53,
      54,
      55,
      56,
      57,
      58,
      59,
      60,
      61,
      62,
      63,
      64,
      65,
      66,
      67,
      68,
      69,
      70,
      71,
      72,
      73,
      74,
      75,
      76,
      77,
      78,
      79,
      80,
      81,
      82,
      83,
      84,
      85,
      86,
      87,
      88,
      89,
      90,
      91,
      92,
      93,
      94,
      95,
      971,
      972,
      973,
      974,
      976
    ];

    function getRandom(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    goToRandom.addEventListener('click', e => {
      e.preventDefault();
      location = `/departements/${deptNumbers[getRandom(0, deptNumbers.length - 1)]}`;
    })


    const settingsForm = document.getElementById('settingsForm');

    localStorage.setItem('showNumber', true);
    localStorage.setItem('showName', true);
    localStorage.setItem('showGallery', true);
    localStorage.setItem('showMap', true);


    settingsForm.addEventListener('submit', e => {
      e.preventDefault();

      if (e.target.showNumber.checked) {
        localStorage.setItem('showNumber', true);
        console.log("Le numéro est affiché")
      } else {
        localStorage.setItem('showNumber', false);
        console.log("Le numéro est caché")
      }

      if (e.target.showName.checked) {
        localStorage.setItem('showName', true);
        console.log("Le nom est affiché")
      } else {
        localStorage.setItem('showName', false);
        console.log("Le nom est caché")
      }

      if (e.target.showGallery.checked) {
        localStorage.setItem('showGallery', true);
        console.log("La galerie est affichée")
      } else {
        localStorage.setItem('showGallery', false);
        console.log("La galerie est cachée")
      }

      if (e.target.showMap.checked) {
        localStorage.setItem('showMap', true);
        console.log("La carte est affichée")
      } else {
        localStorage.setItem('showMap', false);
        console.log("La carte est cachée")
      }
    })

  </script>